html,
body {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0;
    margin: 0;
}

/*必须给高度宽度*/
#oz {
    padding: 20px;
    position: relative;
    width: 700px;
    height: 100%;
    background: rgb(128, 128, 128);
    overflow: auto
}

.flow-container {
    position: relative;
}

.node {
    position: absolute;
    cursor: default;
    overflow: hidden;
    min-width: 100px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    font-family: Microsoft Yahei, arial, tahoma;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border: 1px solid #61a5ea;
    border-radius: 5px;
    z-index: 100;
}

.node.horizontal {
    width: 40px;
    height: 150px;
    min-width: 0px;
    min-height: 0px;
    line-height: 25px;
}

.node.default {
    background-color: #61a5ea;
    color: #f00;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    /* border-radius: 5px !important; */
    /* height: 40px; */
}

.node.default .node-text {
    color: #fff;
    /* border-radius: 5px !important; */
}

.node.default:hover {
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3);
}


.node .node-text {
    display: block;
    padding: 0 10px;
    color: #fff;
    text-decoration: none;
}

.connector {
    position: absolute;
    border: 1px solid #ddd;
    background: #ddd;
    text-align: center;
}

.connector label {
    display: inline-block;
    padding: 5px;
    font-size: 12px;
    font-family: Microsoft Yahei, arial, tahoma;
}

.red {
    background: red !important;
    border: 1px solid !important;
}

.connector.last::after {
    position: absolute;
    bottom: 0;
    left: -6px;
    display: inline-block !important;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
    border-left: 6px solid transparent;
    content: '';
}
.rectangle {
    min-width: 100px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px !important;
}

.square {
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 5px !important;
}
.circle {
    width: 100px;
    line-height: 100px;
    height: 100px;
    border-radius: 50%;
}